@import "constant";

#works {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em 1em;

  @media(min-width: $break-point) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  p {
    text-align: center;
  }
}